## Common
__pycache__
*.pyc
*.a
*.o
*.so
*.dylib
.cache
.coverage
.vscode
*.swp
*.pytest_cache
DartConfiguration.tcl
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
junit-cugraph.xml
*.cover
.hypothesis/
test-results

## Python build directories & artifacts
htmlcov
dist/
cugraph.egg-info/
python/build
python/cugraph/bindings/*.cpp
	
## Patching
*.diff
*.orig
*.rej
	
## C++ build directories & artifacts
CMakeFiles/
Debug
build/
cpp/build/
cpp/include/cugraph/ipc_generated/*.h
cpp/thirdparty/googletest/
	
## Eclipse IDE
.project
.cproject
.settings

## IntelliJ IDE
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Datasets
datasets/*
!datasets/cyber.csv
!datasets/karate-data.csv
!datasets/netscience.csv


.pydevproject

# Jupyter Notebooks
.ipynb_checkpoints

## Doxygen
cpp/doxygen/html
