## Common
__pycache__
*.pyc
*.a
*.o
*.so
*.dylib
.cache
.coverage
.vscode
.lock
*.swp
*.pytest_cache
*~
DartConfiguration.tcl
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
junit-cugraph.xml
*.cover
.hypothesis/
test-results

## Python build directories & artifacts
dask-worker-space/
htmlcov
dist/
*.egg-info/
python/build
python/cugraph/bindings/*.cpp
wheels/
wheelhouse/
_skbuild/
cufile.log

## pylibcugraph build directories & artifacts
python/pylibcugraph/pylibcugraph.egg-info

## Patching
*.diff
*.orig
*.rej

## C++ build directories & artifacts
CMakeFiles/
Debug
build/
cpp/build/
cpp/include/cugraph/ipc_generated/*.h
cpp/thirdparty/googletest/

## Eclipse IDE
.project
.cproject
.settings

## IntelliJ IDE
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Datasets
datasets/*
!datasets/cyber.csv
!datasets/karate-data.csv
!datasets/karate_undirected.csv
!datasets/karate-disjoint.csv
!datasets/netscience.csv


.pydevproject

# Jupyter Notebooks
.ipynb_checkpoints

## Doxygen
cpp/doxygen/html

# created by Dask tests
python/dask-worker-space
python/cugraph/dask-worker-space
python/cugraph/cugraph/dask-worker-space
python/cugraph/cugraph/tests/dask-worker-space

# Sphinx docs & build artifacts
docs/cugraph/source/api_docs/api/*
