## https://pre-commit.com/
#
# Before first use: `pre-commit install`
# To run: `pre-commit run --all-files`
exclude: '^thirdparty'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        args: [--target-version=py310]
        files: ^(python/.*|benchmarks/.*)$
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--config=.flake8"]
        files: python/.*$
        types: [file]
        types_or: [python] # TODO: Enable [python, cython]
        additional_dependencies: ["flake8-force"]
  - repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
      - id: yesqa
        additional_dependencies:
          - flake8==7.1.1
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
              CMakeLists[.]txt$|
              CMakeLists_standalone[.]txt$|
              [.]flake8[.]cython$|
              meta[.]yaml$|
              setup[.]cfg$
      - id: verify-alpha-spec
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.0
    hooks:
      - id: sphinx-lint
        args: ["--enable=all", "--disable=line-too-long"]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.17.0
    hooks:
        - id: rapids-dependency-file-generator
          args: ["--clean"]
  - repo: local
    hooks:
        - id: cmake-format
          name: cmake-format
          entry: ./cpp/scripts/run-cmake-format.sh cmake-format
          language: python
          types: [cmake]
          exclude: .*/thirdparty/.*
          # Note that pre-commit autoupdate does not update the versions
          # of dependencies, so we'll have to update this manually.
          additional_dependencies:
            - cmakelang==0.6.13
          verbose: true
          require_serial: true
        - id: cmake-lint
          name: cmake-lint
          entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
          language: python
          types: [cmake]
          exclude: .*/thirdparty/.*
          # Note that pre-commit autoupdate does not update the versions
          # of dependencies, so we'll have to update this manually.
          additional_dependencies:
            - cmakelang==0.6.13
          verbose: true
          require_serial: true
