c_compiler_version:
  - 9

cxx_compiler_version:
  - 9

cuda_compiler:
  - nvcc

cmake_version:
  - ">=3.23.1,!=3.25.0"

doxygen_version:
  - ">=1.8.11"

nccl_version:
  - ">=2.9.9"

gtest_version:
  - "=1.10.0"

cuda_profiler_api_version:
  - ">=11.4.240,<12"

libcublas_version:
  - ">=11.7.3.1,<12"

libcurand_version:
  - ">=10.2.7.107,<10.3.1.50"

libcusolver_version:
  - ">=11.2.1,<11.4.2.57"

libcusparse_version:
  - ">=11.6.0.43,<12"

sysroot_version:
  - "2.17"
