c_compiler_version:
  - 13

cxx_compiler_version:
  - 13

cuda_compiler:
  - cuda-nvcc

cmake_version:
  - ">=3.30.4"

doxygen_version:
  - ">=1.8.11"

nccl_version:
  - ">=2.19"

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.28"

libucxx_version:
  - "0.46.*"
