c_compiler_version:
  - 11

cxx_compiler_version:
  - 11

cuda_compiler:
  - cuda-nvcc

cuda11_compiler:
  - nvcc

cmake_version:
  - ">=3.26.4"

doxygen_version:
  - ">=1.8.11"

nccl_version:
  - ">=2.9.9"

gtest_version:
  - ">=1.13.0"

sysroot_version:
  - "2.17"

# The CTK libraries below are missing from the conda-forge::cudatoolkit
# package. The "*_host_*" version specifiers correspond to `11.8` packages
# and the "*_run_*" version specifiers correspond to `11.x` packages.

cuda11_libcublas_host_version:
  - "=11.11.3.6"

cuda11_libcublas_run_version:
  - ">=11.5.2.43,<12.0.0"

cuda11_libcurand_host_version:
  - "=10.3.0.86"

cuda11_libcurand_run_version:
  - ">=10.2.5.43,<10.3.1"

cuda11_libcusolver_host_version:
  - "=11.4.1.48"

cuda11_libcusolver_run_version:
  - ">=11.2.0.43,<11.4.2"

cuda11_libcusparse_host_version:
  - "=11.7.5.86"

cuda11_libcusparse_run_version:
  - ">=11.6.0.43,<12.0.0"

# `cuda-profiler-api` only has `11.8.0` and `12.0.0` packages for all
# architectures. The "*_host_*" version specifiers correspond to `11.8` packages and the
# "*_run_*" version specifiers correspond to `11.x` packages.

cuda11_cuda_profiler_api_host_version:
  - "=11.8.86"

cuda11_cuda_profiler_api_run_version:
  - ">=11.4.240,<12"
