c_compiler_version:
  - 14  # [not os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]

cxx_compiler_version:
  - 14  # [not os.environ.get("RAPIDS_CUDA_VERSION", "").startswith("11")]

cuda_compiler:
  - cuda-nvcc

cmake_version:
  - ">=3.30.4"

doxygen_version:
  - ">=1.8.11"

nccl_version:
  - ">=2.19"

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.28"

libucxx_version:
  - "0.46.*"
