include versioneer.py
include cugraph/_version.py
include cugraph/experimental/datasets/datasets_config.yaml
include cugraph/experimental/datasets/metadata/karate.yaml
include cugraph/experimental/datasets/metadata/dolphins.yaml
include cugraph/experimental/datasets/metadata/polbooks.yaml
include cugraph/experimental/datasets/metadata/netscience.yaml