c_compiler_version:
  - 11

cxx_compiler_version:
  - 11

cuda_compiler:
  - cuda-nvcc

cuda11_compiler:
  - nvcc

cmake_version:
  - ">=3.26.4"

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.17"

ucx_py_version:
  - "0.39.*"
