name: pr
on:
  push:
    branches:
      - "pull-request/[0-9]+"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  # Please keep pr-builder as the top job here
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-notebook-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - wheel-build-libcugraph
      - wheel-build-pylibcugraph
      - wheel-tests-pylibcugraph
      - wheel-build-cugraph
      - wheel-tests-cugraph
      - telemetry-setup
      - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      OTEL_SERVICE_NAME: "pr-cugraph"
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    runs-on: ubuntu-latest
    env:
      RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: cugraph
  changed-files:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!docs/**'
          - '!img/**'
          - '!mg_utils/**'
          - '!notebooks/**'
          - '!python/**'
          - '!readme_pages/**'
        test_notebooks:
          - '**'
          - '!.devcontainer/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!docs/**'
        test_python:
          - '**'
          - '!.devcontainer/**'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
  checks:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: telemetry-summarize
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@main
    with:
      build_type: pull-request
      symbol_exclusions: (cugraph::ops|hornet|void writeEdgeCountsKernel|void markUniqueOffsetsKernel)
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_python.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-notebook-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_notebooks
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:25.12-latest"
      script: "ci/test_notebooks.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:25.12-latest"
      script: "ci/build_docs.sh"
  wheel-build-libcugraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_libcugraph.sh
      package-name: libcugraph
      package-type: cpp
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-build-pylibcugraph:
    needs: wheel-build-libcugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_pylibcugraph.sh
      package-name: pylibcugraph
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-tests-pylibcugraph:
    needs: [wheel-build-pylibcugraph, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibcugraph.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-build-cugraph:
    needs: wheel-build-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cugraph.sh
      package-name: cugraph
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-tests-cugraph:
    needs: [wheel-build-cugraph, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  devcontainer:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.0"]'
      node_type: "cpu8"
      rapids-aux-secret-1: GIST_REPO_READ_ORG_GITHUB_TOKEN
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
        SCCACHE_DIST_AUTH_TOKEN_VAR=RAPIDS_AUX_SECRET_1
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose -DBUILD_CUGRAPH_MG_TESTS=ON 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
