name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-notebook-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - wheel-build-pylibcugraph
      - wheel-tests-pylibcugraph
      - wheel-build-cugraph
      - wheel-tests-cugraph
      - wheel-build-nx-cugraph
      - wheel-tests-nx-cugraph
      - wheel-build-cugraph-dgl
      - wheel-tests-cugraph-dgl
      - wheel-build-cugraph-pyg
      - wheel-tests-cugraph-pyg
      - wheel-build-cugraph-equivariant
      - wheel-tests-cugraph-equivariant
      - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-24.06
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-24.06
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@branch-24.06
    with:
      build_type: pull-request
      node_type: cpu32
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@use-new-runners
    with:
      build_type: pull-request
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@branch-24.06
    with:
      build_type: pull-request
      enable_check_symbols: true
      symbol_exclusions: (cugraph::ops|hornet|void writeEdgeCountsKernel|void markUniqueOffsetsKernel)
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-24.06
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@branch-24.06
    with:
      build_type: pull-request
  conda-notebook-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-24.06
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:cuda11.8.0-ubuntu22.04-py3.10"
      run_script: "ci/test_notebooks.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-24.06
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:cuda11.8.0-ubuntu22.04-py3.10"
      run_script: "ci/build_docs.sh"
  wheel-build-pylibcugraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_pylibcugraph.sh
      extra-repo: rapidsai/cugraph-ops
      extra-repo-sha: branch-24.06
      extra-repo-deploy-key: CUGRAPH_OPS_SSH_PRIVATE_DEPLOY_KEY
      node_type: cpu32
  wheel-tests-pylibcugraph:
    needs: wheel-build-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibcugraph.sh
  wheel-build-cugraph:
    needs: wheel-tests-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph.sh
      extra-repo: rapidsai/cugraph-ops
      extra-repo-sha: branch-24.06
      extra-repo-deploy-key: CUGRAPH_OPS_SSH_PRIVATE_DEPLOY_KEY
  wheel-tests-cugraph:
    needs: wheel-build-cugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph.sh
  wheel-build-nx-cugraph:
    needs: wheel-tests-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_nx-cugraph.sh
  wheel-tests-nx-cugraph:
    needs: wheel-build-nx-cugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_nx-cugraph.sh
  wheel-build-cugraph-dgl:
    needs: wheel-tests-cugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph-dgl.sh
  wheel-tests-cugraph-dgl:
    needs: wheel-build-cugraph-dgl
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-dgl.sh
      matrix_filter: map(select(.ARCH == "amd64"))
  wheel-build-cugraph-pyg:
    needs: wheel-tests-cugraph
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph-pyg.sh
  wheel-tests-cugraph-pyg:
    needs: wheel-build-cugraph-pyg
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-pyg.sh
      matrix_filter: map(select(.ARCH == "amd64"))
  wheel-build-cugraph-equivariant:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph-equivariant.sh
  wheel-tests-cugraph-equivariant:
    needs: wheel-build-cugraph-equivariant
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.06
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph-equivariant.sh
      matrix_filter: map(select(.ARCH == "amd64"))
  devcontainer:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@branch-24.06
    with:
      arch: '["amd64"]'
      cuda: '["12.2"]'
      node_type: cpu32
      extra-repo-deploy-key: CUGRAPH_OPS_SSH_PRIVATE_DEPLOY_KEY
      build_command: |
        sccache -z;
        build-all --verbose -j$(nproc --ignore=1);
        sccache -s;
