name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-notebook-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - wheel-build-pylibcugraph
      - wheel-tests-pylibcugraph
      - wheel-build-cugraph
      - wheel-tests-cugraph
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/pr-builder.yaml@branch-23.10
  checks:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/checks.yaml@branch-23.10
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-build.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: cpu16
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-tests.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-build.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-tests.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-notebook-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci:latest"
      run_script: "ci/test_notebooks.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci:latest"
      run_script: "ci/build_docs.sh"
  wheel-build-pylibcugraph:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-build.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/build_wheel_pylibcugraph.sh
      extra-repo: rapidsai/cugraph-ops
      extra-repo-sha: branch-23.10
      extra-repo-deploy-key: CUGRAPH_OPS_SSH_PRIVATE_DEPLOY_KEY
  wheel-tests-pylibcugraph:
    needs: wheel-build-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-test.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/test_wheel_pylibcugraph.sh
  wheel-build-cugraph:
    needs: wheel-tests-pylibcugraph
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-build.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/build_wheel_cugraph.sh
      extra-repo: rapidsai/cugraph-ops
      extra-repo-sha: branch-23.10
      extra-repo-deploy-key: CUGRAPH_OPS_SSH_PRIVATE_DEPLOY_KEY
  wheel-tests-cugraph:
    needs: wheel-build-cugraph
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-test.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/test_wheel_cugraph.sh
